@model EmbeddedRavenDB.Models.Word

<fieldset>
    <legend>Word</legend>

    <div class="display-label">Value</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">LcId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LcId)
    </div>

    <div class="display-label">UpVotes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpVotes)
    </div>

    <div class="display-label">DownVotes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DownVotes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
